In [1]:
# Homework 4 Pandas - Option 1: Heroes of Pymoli

# Analyzing the data for the fantasy game Heroes of Pymoli.
# Like many others in its genre, the game is free-to-play, but players are
# encouraged to purchase optional items that enhance their playing experience. 

# Imports
import pandas as pd
import numpy as np

In [2]:
# input files
# Save path to data set in a variable
Purch_data_file1 = "HeroesOfPymoli/Purchase_data.json"
Purch_data_file2 = "HeroesOfPymoli/Purchase_data2.json"

CurrentFile_df = pd.read_json(Purch_data_file1)
CurrentFile_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
CurrentFile_df.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [4]:
#Player Count
# -Total Number of Players
TotalPlayers = CurrentFile_df['SN'].value_counts().count()
print("Player Count")
print("   * Total Number of Players:  " + str(TotalPlayers))
print(" ")

Player Count
   * Total Number of Players:  573

In [8]:
#Purchasing Analysis (Total)
# -Number of Unique Items
# -Average Purchase Price
# -Total Number of Purchases
# -Total Revenue
UniqueItems = CurrentFile_df['Item ID'].value_counts().count()
PurchaseCount = CurrentFile_df['Item ID'].count()
#PopItemOutputTable['Ave Purch Price'] = PopItemOutputTable['Ave Purch Price'].map("${:.2f}".format)
#TotalRev = CurrentFile_df['Price'].sum().map("${:.2f}".format)
TotalRev = CurrentFile_df['Price'].sum()
TotalRev = round(TotalRev, 2)
AvgPrice = CurrentFile_df['Price'].mean()
AvgPrice = round(AvgPrice, 2)
#AvgPrice = AvgPrice.map
print("Purchasing Analysis")
print("   * Number of Unique Items:  " + str(UniqueItems))
print("   * Average Purchase Price:  " + str(AvgPrice))
print("   * Total Number of Purchases:  " + str(PurchaseCount))
print("   * Total Revenue:  " + str(TotalRev))
print(" ")

Purchasing Analysis
   * Number of Unique Items:  183
   * Average Purchase Price:  2.93
   * Total Number of Purchases:  780
   * Total Revenue:  2286.33

In [12]:
#Gender Demographics
# •	Percentage and Count of Male Players
# •	Percentage and Count of Female Players
# •	Percentage and Count of Other / Non-Disclosed

MalePlayer_df= CurrentFile_df.loc[CurrentFile_df['Gender'] == 'Male',:]
#MalePlayer_df.head()
MalePlayers = MalePlayer_df['SN'].value_counts().count()
FemalePlayer_df= CurrentFile_df.loc[CurrentFile_df['Gender'] == 'Female',:]
FemalePlayers = FemalePlayer_df['SN'].value_counts().count()
OtherPlayers = (TotalPlayers - MalePlayers - FemalePlayers)
PercentOther = (OtherPlayers / TotalPlayers)
PercentMale = (MalePlayers / TotalPlayers)
PercentFemale = (FemalePlayers / TotalPlayers)
PercentFemale = round(PercentFemale, 2) *100
PercentOther = round(PercentOther, 2) *100
PercentMale = round(PercentMale, 2) *100
print("Gender Demographics")
print("   * Total Number of Players:  " + str(TotalPlayers))
print("   * Total Number of Male Players:  " + str(MalePlayers))
print("   * Percent Male Players:  " + str(PercentMale) + "%")
print("   * Total Number of Female Players:  " + str(FemalePlayers))
print("   * Percent Female Players:  " + str(PercentFemale) + "%")
print("   * Total Number of Other Players:  " + str(OtherPlayers))
print("   * Percent Other Players:  " + str(PercentOther) + "%")
print(" ")

Gender Demographics
   * Total Number of Players:  573
   * Total Number of Male Players:  465
   * Percent Male Players:  81.0%
   * Total Number of Female Players:  100
   * Percent Female Players:  17.0%
   * Total Number of Other Players:  8
   * Percent Other Players:  1.0%

In [32]:
#Purchasing Analysis (Gender)
# The below each broken by gender
# o Purchase Count
# o Average Purchase Price
# o Total Purchase Value
# o Normalized Totals

PurchCntM = MalePlayer_df['SN'].count()
PurchCntF = FemalePlayer_df['SN'].count()
PurchDollarM = MalePlayer_df['Price'].sum()
AvePurchPriceM = PurchDollarM / PurchCntM
AvePurchPriceM = round(AvePurchPriceM, 2)
PurchDollarF = FemalePlayer_df['Price'].sum()
AvePurchPriceF = PurchDollarF / PurchCntF
AvePurchPriceF = round(AvePurchPriceF, 2)
PurchCntO = PurchaseCount - PurchCntF - PurchCntM
PurchDollarO = TotalRev - PurchDollarF - PurchDollarM
AvePurchPriceO = PurchDollarO / PurchCntO
AvePurchPriceO = round(AvePurchPriceO, 2)
NmlzedPurchCntM = round((PurchCntM / PurchaseCount * 100), 2)
NmlzedPurchCntF = round((PurchCntF / PurchaseCount * 100), 2)
NmlzedPurchCntO = 100 - (NmlzedPurchCntM + NmlzedPurchCntF)
NmlzedPurchaseDollarM = round((PurchDollarM / TotalRev *100), 2)
NmlzedPurchaseDollarF = round((PurchDollarF / TotalRev * 100), 2)
NmlzedPurchaseDollarO = round(100 - (NmlzedPurchaseDollarF + NmlzedPurchaseDollarM), 2)
PurchDollarM = round(PurchDollarM, 2)
PurchDollarF = round(PurchDollarF, 2)
PurchDollarO = round(PurchDollarO, 2)

print("Purchasing Analysis (Gender)")
#         Item     Male     Female
print("   * Purchase Count (M/F/Other):  " + str(PurchCntM) + " " + str(PurchCntF) + " " + str(PurchCntO))
print("   * Average Purchase Price (M/F/Other):  " + "$" + str(AvePurchPriceM) + " $" + str(AvePurchPriceF) + " $" + str(AvePurchPriceO))
print("   * Total Purchase Value (M/F/Other):  $" + str(PurchDollarM) + " $" + str(PurchDollarF) + " $" + str(PurchDollarO))
print("Normalized Totals:  Purchase Count")
print("   * Purchase Count - Females percent of purchase transactions:  " + str(NmlzedPurchCntF) + "%")
print("   * Purchase Count - Males percent of purchase transactions:  " + str(NmlzedPurchCntM) + "%")
print("   * Purchase Count - Other / Unknown percent of purchase transactions:  " + str(NmlzedPurchCntO)+ "%")
print("Normalized Totals:  Purchase Amount")
print("   * Purchase Amount - Females percent of purchase dollars:  " + str(NmlzedPurchaseDollarF) + "%")
print("   * Purchase Amount - Males percent of purchase dollars:  " + str(NmlzedPurchaseDollarM) + "%")
print("   * Purchase Amount - Other / Unknown percent of purchase dollars:  " + str(NmlzedPurchaseDollarO) + "%")
print(" ")
#MalePlayer_df.head()

Purchasing Analysis (Gender)
   * Purchase Count (M/F/Other):  633 136 11
   * Average Purchase Price (M/F/Other):  $2.95 $2.82 $3.25
   * Total Purchase Value (M/F/Other):  $1867.68 $382.91 $35.74
Normalized Totals:  Purchase Count
   * Purchase Count - Females percent of purchase transactions:  17.44%
   * Purchase Count - Males percent of purchase transactions:  81.15%
   * Purchase Count - Other / Unknown percent of purchase transactions:  1.41%
Normalized Totals:  Purchase Amount
   * Purchase Amount - Females percent of purchase dollars:  16.75%
   * Purchase Amount - Males percent of purchase dollars:  81.69%
   * Purchase Amount - Other / Unknown percent of purchase dollars:  1.56%

In [33]:
#Age Demographics
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
# o Purchase Count
# o Average Purchase Price
# o Total Purchase Value
# o Normalized Totals

# Create the bins in which Data will be held
# Bins are 0 to 10, 10 to 14, 15 to 19, 20 to 24, 25 to 29, etc
demo_bins = [0, 10, 15, 20, 25, 30, 131]
# Create the names for the four bins
demo_group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30 and over']

In [34]:
# Cut CurrentFile_df and place the ages into bins
#  pd.cut(CurrentFile_df["Age"], demo_bins, labels=demo_group_names)
CurrentFile_df["Age Demographic"] = pd.cut(CurrentFile_df["Age"], demo_bins, labels=demo_group_names)
CurrentFile_df.head(5)

,Age,Gender,Item ID,Item Name,Price,SN,Age Demographic
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,30 and over
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30 and over
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24

In [45]:
DemoUnder10_df = CurrentFile_df.loc[CurrentFile_df['Age Demographic'] == '<10',:]
Demo1014_df = CurrentFile_df.loc[CurrentFile_df['Age Demographic'] == '10-14',:]
Demo1519_df = CurrentFile_df.loc[CurrentFile_df['Age Demographic'] == '15-19',:]
Demo2024_df = CurrentFile_df.loc[CurrentFile_df['Age Demographic'] == '20-24',:]
Demo2529_df = CurrentFile_df.loc[CurrentFile_df['Age Demographic'] == '25-29',:]
Demo30plus_df = CurrentFile_df.loc[CurrentFile_df['Age Demographic'] == '30 and over',:]
#PurcHCntDemo30plus_df.head(11)

# Purchase Counts
PurchCntUnder10 = DemoUnder10_df['Item ID'].count()
PurchCnt1014 = Demo1014_df['Item ID'].count()
PurchCnt1519 = Demo1519_df['Item ID'].count()
PurchCnt2024 = Demo2024_df['Item ID'].count()
PurchCnt2529 = Demo2529_df['Item ID'].count()
PurchCntOver30 = Demo30plus_df['Item ID'].count()

#Purchase Amount
PurchRevUnder10 = round(DemoUnder10_df['Price'].sum(), 2)
PurchRev1014 = round(Demo1014_df['Price'].count(),2)
PurchRev1519 = round(Demo1519_df['Price'].sum(), 2)
PurchRev2024 = round(Demo2024_df['Price'].sum(), 2)
PurchRev2529 = round(Demo2529_df['Price'].sum(), 2)
PurchRevOver30 = round(Demo30plus_df['Price'].sum(), 2)

# Average Purchase
AveUnder10 = round((PurchRevUnder10 / PurchCntUnder10), 2)
Ave1014 = round((PurchRev1014 / PurchCnt1014), 2)
Ave1519 = round((PurchRev1519 / PurchCnt1519), 2)
Ave2024 = round((PurchRev2024 / PurchCnt2024), 2)
Ave2529 = round((PurchRev2529 / PurchCnt2529), 2)
AveOver30 = round((PurchRevOver30 / PurchCntOver30), 2)

#Normalized %
#Purchase count
NPCUnder10 = round(((PurchCntUnder10 / PurchaseCount) * 100), 2)
NPC1014 = round(((PurchCnt1014 / PurchaseCount) * 100), 2)
NPC1519 = round(((PurchCnt1519 / PurchaseCount) * 100), 2)
NPC2024 = round(((PurchCnt2024 / PurchaseCount) * 100), 2)
NPC2529 = round(((PurchCnt2529 / PurchaseCount) * 100), 2)
NPCOver30 = round(((PurchCntOver30 / PurchaseCount) * 100), 2)

#Revenue
NRUnder10 = round(((PurchRevUnder10 / TotalRev) * 100), 2)
NR1014 = round(((PurchRev1014 / PurchaseCount) * 100), 2)
NR1519 = round(((PurchRev1519 / PurchaseCount) * 100), 2)
NR2024 = round(((PurchRev2024 / PurchaseCount) * 100), 2)
NR2529 = round(((PurchRev2529 / PurchaseCount) * 100), 2)
NROver30 = round(((PurchRevOver30 / PurchaseCount) * 100), 2)

# Print the results
#  Purchase Count
print("Purchase Counts by Age Demographic")
print("Under 10:  " + str(PurchCntUnder10))
print("   10-14:  " + str(PurchCnt1014))
print("   15-19:  " + str(PurchCnt1519))
print("   20-24:  " + str(PurchCnt2024))
print("   25-29:  " + str(PurchCnt2529))
print(" Over 30:  " + str(PurchCntOver30))
print(" ")

#  Total Purchase Value
print("Purchase Revenue by Age Demographic")
print("Under 10:  $" + str(PurchRevUnder10))
print("   10-14:  $" + str(PurchRev1014))
print("   15-19:  $" + str(PurchRev1519))
print("   20-24:  $" + str(PurchRev2024))
print("   25-29:  $" + str(PurchRev2529))
print(" Over 30:  $" + str(PurchRevOver30))
print(" ")

#  Average Purchase Price
print("Average Purchase Amount by Age Demographic")
print("Under 10:  $" + str(AveUnder10))
print("   10-14:  $" + str(Ave1014))
print("   15-19:  $" + str(Ave1519))
print("   20-24:  $" + str(Ave2024))
print("   25-29:  $" + str(Ave2529))
print(" Over 30:  $" + str(AveOver30))
print(" ")

# Normalized Totals
print("Normalized for the Age Groups")
print("Under 10:  ")
print("   % of Purchase count:  " + str(NPCUnder10) + "%")
print("   % of Revenue:         " + str(NRUnder10) + "%")
print("Ages 10-14:  ")
print("   % of Purchase count:  " + str(NPC1014) + "%")
print("   % of Revenue:         " + str(NR1014) + "%")
print("Ages 15-19:  ")
print("   % of Purchase count:  " + str(NPC1519) + "%")
print("   % of Revenue:         " + str(NR1519) + "%")
print("Ages 20-24:  ")
print("   % of Purchase count:  " + str(NPC2024) + "%")
print("   % of Revenue:         " + str(NR2024) + "%")
print("Ages 25-29:  ")
print("   % of Purchase count:  " + str(NPC2529) + "%")
print("   % of Revenue:         " + str(NR2529) + "%")
print("30 and over:  ")
print("   % of Purchase count:  " + str(NPCOver30) + "%")
print("   % of Revenue:         " + str(NROver30) + "%")
print(" ")

Purchase Counts by Age Demographic
Under 10:  32
   10-14:  78
   15-19:  184
   20-24:  305
   25-29:  76
 Over 30:  105

Purchase Revenue by Age Demographic
Under 10:  $96.62
   10-14:  $78
   15-19:  $528.74
   20-24:  $902.61
   25-29:  $219.82
 Over 30:  $314.39

Average Purchase Amount by Age Demographic
Under 10:  $3.02
   10-14:  $1.0
   15-19:  $2.87
   20-24:  $2.96
   25-29:  $2.89
 Over 30:  $2.99

Normalized for the Age Groups
Under 10:
   % of Purchase count:  4.1%
   % of Revenue:         4.23%
Ages 10-14:
   % of Purchase count:  10.0%
   % of Revenue:         10.0%
Ages 15-19:
   % of Purchase count:  23.59%
   % of Revenue:         67.79%
Ages 20-24:
   % of Purchase count:  39.1%
   % of Revenue:         115.72%
Ages 25-29:
   % of Purchase count:  9.74%
   % of Revenue:         28.18%
30 and over:
   % of Purchase count:  13.46%
   % of Revenue:         40.31%

In [52]:
#Top Spenders
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# o SN
# o Purchase Count
# o Average Purchase Price
# o Total Purchase Value

# Get the items purchased counts by Screen Name
ItemCounts = CurrentFile_df['SN'].value_counts()

# Using GroupBy in order to separate the data into fields according to "SN" values
GroupedBySN_df = CurrentFile_df.groupby(['SN'])

# In order to be visualized, a data function must be used...
SumPurchased = GroupedBySN_df['Price'].sum()
AvgPurchase = SumPurchased / ItemCounts
# create an Output table
OutputTable = pd.DataFrame({'Items purchased': ItemCounts,
                            'Average Purch Amount': AvgPurchase,
                            'Total Purch Amount':SumPurchased})
OutputTable['Average Purch Amount'] = OutputTable['Average Purch Amount'].map("${:.2f}".format)
OutputTable['Total Purch Amount'] = OutputTable['Total Purch Amount'].map("${:.2f}".format)
OutputTable.head(5)

             Average Purch Amount  Items purchased Total Purch Amount
Adairialis76                $2.46                1              $2.46
Aduephos78                  $2.23                3              $6.70
Aeduera68                   $1.93                3              $5.80
Aela49                      $2.46                1              $2.46
Aela59                      $1.27                1              $1.27

In [53]:
# sort the table
OutputTable = OutputTable.sort_values('Total Purch Amount', ascending=False)
OutputTable.head(5)

             Average Purch Amount  Items purchased Total Purch Amount
Qarwen67                    $2.49                4              $9.97
Sondim43                    $3.13                3              $9.38
Tillyrin30                  $3.06                3              $9.19
Lisistaya47                 $3.06                3              $9.19
Tyisriphos58                $4.59                2              $9.18

In [54]:
#Most Popular Items
# •	Identify the 5 most popular items by purchase count, then list (in a table):
# o	Item ID
# o	Item Name
# o	Purchase Count
# o	Item Price
# o	Total Purchase Value
#CurrentFile_df.head(5)

# Get the items purchased counts by Item Name
PopItemIDCounts = CurrentFile_df['Item ID'].value_counts()

# Using GroupBy in order to separate the data into fields according to "Item Name" values
GroupedByItemName_df = CurrentFile_df.groupby(['Item ID'])

# In order to be visualized, a data function must be used...
PopItemSumPurch = GroupedByItemName_df['Price'].sum()

# create an Output table
PopItemOutputTable = pd.DataFrame({'Total Purch Val' : PopItemSumPurch,
                                   'Purchase Count' : PopItemIDCounts})
PopItemOutputTable[['Total Purch Val', 'Purchase Count']] = PopItemOutputTable[['Total Purch Val', 'Purchase Count']].astype(float)
PopItemOutputTable['Ave Purch Price'] = (PopItemOutputTable['Total Purch Val'] / PopItemOutputTable['Purchase Count'])
                                  
# Format to $0.00
PopItemOutputTable['Total Purch Val'] = PopItemOutputTable['Total Purch Val'].map("${:.2f}".format)
PopItemOutputTable['Ave Purch Price'] = PopItemOutputTable['Ave Purch Price'].map("${:.2f}".format)
# sort the table
PopItemOutputTable = PopItemOutputTable.sort_values('Purchase Count', ascending=False)
PopItemOutputTable.reset_index(inplace=True)
PopItemOutputTable = PopItemOutputTable.rename(columns = {'index' : 'Item ID'})
PopItemOutputTable.head(5)

   Item ID  Purchase Count Total Purch Val Ave Purch Price
0       39            11.0          $25.85           $2.35
1       84            11.0          $24.53           $2.23
2       31             9.0          $18.63           $2.07
3      175             9.0          $11.16           $1.24
4       13             9.0          $13.41           $1.49

In [55]:
# Create a lookup table for Item ID / Item Description
LookupItemDescr_df = CurrentFile_df
# Get rid of unneeded columns
LookupItemDescr_df = LookupItemDescr_df.drop('Age', axis=1)
LookupItemDescr_df = LookupItemDescr_df.drop('Gender', axis=1)
#LookupItemDescr_df = LookupItemDescr_df.drop('Price', axis=1)
LookupItemDescr_df = LookupItemDescr_df.drop('SN', axis=1)
LookupItemDescr_df = LookupItemDescr_df.drop('Age Demographic', axis=1)
# remove duplicate rows
LookupItemDescr__df = LookupItemDescr_df.drop_duplicates(subset=['Item ID','Item Name'])
LookupItemDescr_df.head(5)

   Item ID                                  Item Name  Price
0      165                Bone Crushing Silver Skewer   3.37
1      119  Stormbringer, Dark Blade of Ending Misery   2.32
2      174                            Primitive Blade   2.46
3       92                               Final Critic   1.36
4       63                             Stormfury Mace   1.27

In [56]:
# merge the tables
MergedTables = pd.merge(PopItemOutputTable, LookupItemDescr_df, on='Item ID', how='inner')
MergedTables['Price'] = MergedTables['Price'].map("${:.2f}".format)
MergedTables.head(12)

,Item ID,Purchase Count,Total Purch Val,Ave Purch Price,Item Name,Price
0,39,11.0,$25.85,$2.35,"Betrayal, Whisper of Grieving Widows",$2.35
1,39,11.0,$25.85,$2.35,"Betrayal, Whisper of Grieving Widows",$2.35
2,39,11.0,$25.85,$2.35,"Betrayal, Whisper of Grieving Widows",$2.35
3,39,11.0,$25.85,$2.35,"Betrayal, Whisper of Grieving Widows",$2.35
4,39,11.0,$25.85,$2.35,"Betrayal, Whisper of Grieving Widows",$2.35
5,39,11.0,$25.85,$2.35,"Betrayal, Whisper of Grieving Widows",$2.35
6,39,11.0,$25.85,$2.35,"Betrayal, Whisper of Grieving Widows",$2.35
7,39,11.0,$25.85,$2.35,"Betrayal, Whisper of Grieving Widows",$2.35
8,39,11.0,$25.85,$2.35,"Betrayal, Whisper of Grieving Widows",$2.35
9,39,11.0,$25.85,$2.35,"Betrayal, Whisper of Grieving Widows",$2.35
10,39,11.0,$25.85,$2.35,"Betrayal, Whisper of Grieving Widows",$2.35
11,84,11.0,$24.53,$2.23,Arcane Gem,$2.23

In [57]:
# Remove Duplicates and drop Ave Price Column
#LookupItemDescr__df = LookupItemDescr_df.drop_duplicates(subset=['Item ID','Item Name'])
MergedTables = MergedTables.drop_duplicates(subset=['Item ID'])
MergedTables = MergedTables.drop('Ave Purch Price', axis=1)
MergedTables.head(5)

,Item ID,Purchase Count,Total Purch Val,Item Name,Price
0,39,11.0,$25.85,"Betrayal, Whisper of Grieving Widows",$2.35
11,84,11.0,$24.53,Arcane Gem,$2.23
22,31,9.0,$18.63,Trickster,$2.07
31,175,9.0,$11.16,Woeful Adamantite Claymore,$1.24
40,13,9.0,$13.41,Serenity,$1.49

In [58]:
#Most Popular Items
# •	Identify the 5 most popular items by purchase count, then list (in a table):
# o	Item ID
# o	Item Name
# o	Purchase Count
# o	Item Price
# o	Total Purchase Value
# Rearrange the columns
MergedTables = MergedTables[['Item ID', 'Item Name', 'Purchase Count', 'Price', 'Total Purch Val']]
MergedTables.head(5)

,Item ID,Item Name,Purchase Count,Price,Total Purch Val
0,39,"Betrayal, Whisper of Grieving Widows",11.0,$2.35,$25.85
11,84,Arcane Gem,11.0,$2.23,$24.53
22,31,Trickster,9.0,$2.07,$18.63
31,175,Woeful Adamantite Claymore,9.0,$1.24,$11.16
40,13,Serenity,9.0,$1.49,$13.41

In [75]:
#Most Profitable Items
# • Identify the 5 most profitable items by total purchase value, then list (in a table):
# • Item ID
# • Item Name
# • Purchase Count
# • Item Price
# • Total Purchase Value

# Get the items purchased counts by Item Name
ProfItemIDCounts = CurrentFile_df['Item ID'].value_counts()

# Using GroupBy in order to separate the data into fields according to "Item Name" values
GroupByItemName_df = CurrentFile_df.groupby(['Item ID'])

# In order to be visualized, a data function must be used...
ProfItemSumPurch = GroupByItemName_df['Price'].sum()

# create an Output table
ProfItemOutputTable = pd.DataFrame({'Total Purch Val' : ProfItemSumPurch,
                                   'Purchase Count' : ProfItemIDCounts})
ProfItemOutputTable[['Total Purch Val', 'Purchase Count']] = ProfItemOutputTable[['Total Purch Val', 'Purchase Count']].astype(float)
ProfItemOutputTable.head(5)

# Format to $0.00
ProfItemOutputTable['Total Purch Val'] = ProfItemOutputTable['Total Purch Val'].map("${:.2f}".format)
ProfItemOutputTable.head(5)

# sort the table
ProfItemOutputTable = ProfItemOutputTable.sort_values('Total Purch Val', ascending=False)

ProfItemOutputTable.reset_index(inplace=True)
ProfItemOutputTable = ProfItemOutputTable.rename(columns = {'index' : 'Item ID'})
ProfItemOutputTable.head(5)

# merge the tables
MergedProfTables = pd.merge(ProfItemOutputTable, LookupItemDescr_df, on='Item ID', how='inner')
MergedProfTables['Price'] = MergedProfTables['Price'].map("${:.2f}".format)


# Remove Duplicates
MergedProfTables = MergedProfTables.drop_duplicates(subset=['Item ID'])
MergedProfTables = MergedProfTables[['Item ID', 'Item Name', 'Purchase Count', 'Price', 'Total Purch Val']]
MergedProfTables.head(12)

,Item ID,Item Name,Purchase Count,Price,Total Purch Val
0,170,Shadowsteel,5.0,$1.98,$9.90
5,21,Souleater,3.0,$3.27,$9.81
8,37,"Shadow Strike, Glory of Ending Hope",5.0,$1.93,$9.65
13,127,"Heartseeker, Reaver of Souls",3.0,$3.21,$9.63
16,120,Agatha,5.0,$1.91,$9.55
21,96,Blood-Forged Skeletal Spine,2.0,$4.77,$9.54
23,47,"Alpha, Reach of Ending Hope",6.0,$1.55,$9.30
29,119,"Stormbringer, Dark Blade of Ending Misery",4.0,$2.32,$9.28
33,67,"Celeste, Incarnation of the Corrupted",4.0,$2.31,$9.24
37,60,Wolf,5.0,$1.84,$9.20
42,1,Crucifer,4.0,$2.28,$9.12
46,150,Deathraze,2.0,$4.54,$9.08

In [ ]:
#As final considerations:
# • Your script must work for both data-sets given.
# • You must use the Pandas Library and the Jupyter Notebook.
# • You must submit a link to your Jupyter Notebook with the viewable Data Frames.
# • You must include an exported markdown version of your Notebook called README.md in your GitHub repository.
# • You must include a written description of three observable trends based on the data.
# • See Example Solution for a reference on expected format.